* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/bgr.png);
}

.body-container {
  margin: 10px 15%;
}

/* inizio header */
header {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.img-container {
  position: relative;
  height: 300px;
  background-image: url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  border: 8px solid white;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header h1 {
  display: inline-block;
  font-size: 50px;
  border: 4px solid white;
  padding: 0 8px;
  margin-bottom: 20px;
}

/* inizio nav */
nav {
  height: 50px;
  background-color: #504741;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0 7px;
  line-height: 50px;
}

nav li:hover {
  background-color: #615954;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 14px
}

/* inizio main */
.main-container {
  margin: 5px 0;
  display: flow-root;
}

/* colonna sinistra */
.column-left {
  float: left;
  width: 29%;
  background-color: whitesmoke;
  border-radius: 2%
}

.rss-title {
  text-align: center;
  display: flow-root;
  margin: 0 auto;
}

.rss-title .fas, .rss-title h3 {
  margin-top: 9px;
  float: left;
}

.fas {
  font-size: 30px;
  color: darkorange;
  margin: 9px;
  vertical-align: middle;
}

.column-left li {
  list-style: none;
  display: inline-block;
  margin: 5px 0;
}

.column-left a {
  color: darkgreen;
  text-decoration: none;
}

.column-left section {
  margin: 9px;
}

/* colonna centrale */
.column-center {
  float: left;
  width: 40%;
  margin: 0 1%;
  background-color: whitesmoke;
  border-radius: 2%
}

.column-center h3, .column-center p {
  margin: 9px
}

.column-center h3 {
  margin-bottom: 15px
}

.column-center p {
  line-height: 25px
}

/* colonna destra */
.column-right {
  float: left;
  width: 29%;
}

.right {
  background-color: whitesmoke;
  border-radius: 2%
}

.right {
  /* 2,3% perché non mi semrbava pixel perfect :D, altrimenti avrei dato 2% */
  margin-bottom: 2%;
}

.column-right h3, .column-right p {
  margin: 9px
}

.column-right h3 {
  margin-bottom: 15px
}

.column-right p {
  line-height: 25px
}

/* inizio footer */
footer {
  height: 50px;
  background-color: #A4D2E1
}